docker {
    enabled = true
    runOptions = '-v /workspace/PredictIOR_Nextflow/R:/R_scripts'
}

profiles {
    standard {
        process {
            container = 'sogolsahebi/nextflow-rmd-env:latest'
            executor = 'local'
        }
        docker {
            enabled = true
        }
    }
}


